header img {
    float: right;
    margin-right:30px;
    margin-top: -80px;
    box-shadow:
        0, 4px 10px 0 rgba(0, 0, 0, 0.2)
        0 6px 50px 0 rgba(0, 0, 0, 0.2);
}

header, footer {
    background-color: rgb(2, 77, 2);
    border-radius: 10px;
    text-align: center;
    padding: 30px;
    font-family: Times;
    color: white;
}

main {
    display: block;
}

section {
    display: block;
}
 
cows.jpg {
    float: right;
    margin-top: -100px;
}

nav {
    background-color: #111111;
}

* {
    box-sizing: border-box;
}

nav {
    display: block;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

html {
    line-height: 1.15;
}